h1{
    text-align: center;
    font-family: 'Antonio', sans-serif;
}
td{
    background-color: black;
    height: 300px;
    width: 150px;
    border: 6px solid white;
}

.art{
    margin: auto;
}

#one{
    background-color: #E63946;
}
#two{
    background-color: #F1FAEE;
}
#three{
    background-color: #A8DADC;
}
#four{
    background-color: #457B9D;
}
#five{
    background-color: #1D3557;
}